<mat-card>
  <div>
    <h1>Detalhes do Empréstimo</h1>
  </div>

  @if (loan) {
  <div>
    <form>
      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Nome:</mat-label>
          <input matInput type="text" value="{{loan.user}}" disabled>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Data do Empréstimo:</mat-label>
          <input matInput type="text" value="{{loan.loanDate}}" disabled>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Data de Retorno:</mat-label>
          <input matInput type="text" value="{{loan.returnDate}}" disabled>
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Situação:</mat-label>
          @switch (loan.status) {
          @case (1) { <input matInput type="text" value="Solicitado" disabled> }
          @case (2) { <input matInput type="text" value="Em Andamento" disabled> }
          @case (3) { <input matInput type="text" value="Finalizado" disabled> }
          }
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label for="">Multa:</mat-label>
          <input matInput type="text" value="{{loan.fines }}" disabled>
        </mat-form-field>
      </div>

      <div class="list-box">
        <mat-label>Livros do Empréstimo:</mat-label>
        <mat-list role="list">
          @for (book of loan.books; track loan) {
          <mat-list-item role="listitem" class="list-item">{{book.title}}</mat-list-item>
          }
        </mat-list>
      </div>

      <div class="btn-box">
        <button mat-raised-button routerLink="/meus-emprestimos">Voltar</button>
      </div>
    </form>
  </div>
  }
</mat-card>
